body{background-color: rgb(238, 226, 226);
    font-size:large;
    
}

.topnav a {
    float: right;
    color: #2a4c68;
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
    font-size: 20px;}

    h1 {color: rgb(45, 72, 179);
     
        font-family: helvetica,'Times New Roman', Times, serif;
        font-size: 32px;
        padding-top: 10px;
        padding-left: 2.5%}

     h2 {line-height: 120px;
        text-align: center;
        font-size:40px;
        color: #195f99;
    }

       .container {
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
        border-style: dotted;
        margin-left: 20%;
        margin-right: 20%;
        
       }
       
       img {
         max-width: 100%;
         max-height:100%;
       }
       
       .text {
         font-size: 70px;
         
         
       }