body{background-color: rgb(93, 141, 107); 
  font-size:large;   
  border:  solid black;
  display:flex;
  flex-direction: column;
}

#topnav {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #274712;
  margin: 0%;
  padding: 0%;
}

#topnav a {
 
  color: #05c575;
  text-align: end;
  padding: 5% 4%;
  text-decoration: none;
  font-size: 1.1em; 
}  

a:hover {
  background-color: #555;
  
}

h2 {line-height: 250%;
  text-align: center;
  font-size:200%;
  color: #05c575;
}

#header {
width: 60%
}

#menulinks{
width: 20%;
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
height: auto;
align-items: center;

}

h1 { color: #05c575;;
  font-family: helvetica,'Times New Roman', Times, serif;
  font-size: 180%;
  padding-top: 1%;
  padding-left: 2.5%
}
/* ................................................................................................................................................................................................... */
.ogmain {background-color: rgb(49, 92, 61);
        border: 2px solid rgb(0, 0, 0);
        width:80%;
        margin-left: 10%;
        font-family: helvetica,'Times New Roman', Times, serif;

}
.container {
        display:flex;
        justify-content: center;
        /* border: 1px solid rgb(255, 81, 0); */
        flex-direction: row-reverse;
        padding-bottom: 1%;
        padding-top: 3%;
}

.image {display: flex;
        width: 30%;
        /* justify-content: flex-end
         */
        
}

.text {display: flex;
      align-items: center;
      border: 1px solid rgb(17, 76, 131);
      width: 30%;
      background-color: #274712;
}

.container2 {
  display:flex;
  justify-content: center;
  /* border: 1px solid rgb(255, 81, 0); */
  flex-direction: row;
  padding-bottom: 1%;
}

.image2 {display: flex;
  width: 30%;
  justify-content: flex-end
  
}

.text2 {display: flex;
align-items: center;
border: 1px solid rgb(17, 76, 131);
width: 30%;
background-color: #274712;
}


.container3 {
  display:flex;
  justify-content: center;
  /* border: 1px solid rgb(255, 81, 0); */
  flex-direction: row-reverse;
  padding-bottom: 1%;
}

.image3 {display: flex;
  width: 30%;
  /* justify-content: flex-end
   */
  
}

.text3 {display: flex;
align-items: center;
border: 1px solid rgb(17, 76, 131);
width: 30%;
background-color: #274712;
}

.container4 {
display:flex;
justify-content: center;
/* border: 1px solid rgb(255, 81, 0); */
flex-direction: row;
padding-bottom: 10%;
}

.image4 {display: flex;
width: 30%;
justify-content: flex-end

}

.text4 {display: flex;
align-items: center;
border: 1px solid rgb(17, 76, 131);
width: 30%;
background-color: #274712;
}


img { width: 60%;
}

/* .................................................................................................................................................................................... */


.footer{display: flex;
  background-color:  #274712;
  height: 100%;

}