body{background-color: rgb(1, 32, 10);
  font-size:large;
  
}

.topnav a {
  float: right;
  color: #05c575;
  text-align: center;
  padding: 21px 16px;
  text-decoration: none;
  font-size: 20px;
  /* background-color: #555; */
  
}

a:hover {
  background-color: #555;
  color: white;
  position: -webkit-sticky;
  position:sticky
}


h2 {line-height: 120px;
  text-align: center;
  font-size:40px;
  color: #05c575;
}


/* p{
      font-size: 16px;
      width:60%;
      border: 2px solid black;
      height: 150px;
      float: right; } */

h1 { color: #05c575;;
  
   font-family: helvetica,'Times New Roman', Times, serif;
   font-size: 32px;
   padding-top: 10px;
   padding-left: 2.5%

  }
               img {
                 max-width: 50%;
                 max-height:50%;
               }
               .img2 {align-content: end;}
               .text {
                 font-size: 70px;
                 
                 
               }