body{background-color: rgb(49, 92, 61);; 
  font-size:large;   
  border:  solid black;
  display:flex;
  flex-direction: column;
}

#topnav {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #274712;
    margin: 0%;
    padding: 0%;
}

#topnav a {
   
    color: #05c575;
    text-align: end;
    padding: 5% 4%;
    text-decoration: none;
    font-size: 1.1em; 
}  
  
a:hover {
    background-color: #555;
   
  }

  h2 {line-height: 250%;
    text-align: center;
    font-size:200%;
    color: #05c575;
  }

#header {
  width: 60%
}

#menulinks{
  width: 20%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: auto;
  align-items: center;

}

h1 { color: #05c575;;
     font-family: helvetica,'Times New Roman', Times, serif;
     font-size: 180%;
     padding-top: 1%;
     padding-left: 2.5%
}

/* .............................................................................................................. */





/* .............................................................................................................. */



.img2{display: flex;
  align-items: center; 
  justify-content: center;
  
}

.data{ display: flex;
       border: 2px solid rgb(0, 0, 0); 
       padding-top: 3%;
       padding-bottom: 3%;
       background-color:rgb(26, 77, 41);
       align-items: center;

}



.footer{display: flex;
  background-color:  #274712;
  height: 100%;

}